<h1>Welcome to Game Tracker!</h1>
<%= link_to "Sign Up Here", signup_path %> |
<%= link_to "Log In", login_path %> |
<%= link_to(user_google_oauth2_omniauth_authorize_path) do %>
  <%= image_tag(my.image, class: 'product-image__img') if product.image.attached? %>
<% end %>