<h1>Game Tracker</h1>
<h2>Welcome <%= @user.username%>! </h2>

<h3>Here are the games reviewed by <%=@user.username%>:</h3>
<ul>
  <% @user.reviewed_games.each do |r|%>
  <li> <%= link_to r.name_and_category, game_path(r)%> </li>
  <% end %>
</ul>

